.advantages{
  text-align: center;
  @media (min-width: @mobile-width) {
    margin-top: 50px;
    margin-bottom: 60px;
  }
  @media (min-width: @tablet-width) {
    margin: 0;
    padding-bottom: 80px;
  }
  @media (min-width: @desktop-width) {
    margin-top: 100px;
  }
  &__main-title{
    @media (min-width: @tablet-width) {
    font-size: 45px;
    margin: 0;
    }
    @media (min-width: @desktop-width) {
      margin-bottom: 80px;
    }
  }

  &__title{
    @media (min-width: @tablet-width) {
    font-size: 25px;
    margin-bottom: 20px;
    }
  }

  &__title-text{
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    color: #7859CF;
  }

  &__text {
    @media (min-width: @mobile-width) {
      font-size: 16px;
      line-height: 22px;
    }
    @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
    margin: 0;
    text-align: start;
    }
    @media (min-width: @desktop-width) {
      font-size: 18px;
      display: block;
      text-align: center;
    }
  }

  &__list {
    @media (min-width: @mobile-width) {
      padding: 0 20px 0 20px;
    }
    @media (min-width: @tablet-width) {
      display: grid;
      grid-template-columns: 370px 356px;
      column-gap: 5px;
    }
    @media (min-width: @desktop-width) {
      display: flex;
    }
  }
  &__item{
    list-style-type: none;
    @media (min-width: @tablet-width) {
      display: flex;
      align-items: center;
      padding-top: 30px;
    }
    @media (min-width: @desktop-width) {
      display: block;
      text-align: center;
      padding: 0;
    }
  }

  &__text-container{
    @media (min-width: @tablet-width) {
      display: flex;
      flex-wrap: wrap;
      padding-left: 20px;
    }
    @media (min-width: @desktop-width) {
      display: block;
      text-align: center;
      padding: 0;
    }
  }
}
