.advantages{
  text-align: center;
  @media (min-width: @mobile-width) {
    margin-top: 50px;
  }
  @media (min-width: @desktop-width) {
    margin: 0;
  }

  &__text {
    font-size: 20px;
    @media (min-width: @tablet-width) {
    margin: 0;
    text-align: start;
    }
    @media (min-width: @desktop-width) {
      font-size: 18px;
      display: block;
      text-align: center;
    }
  }

  &__list {
    @media (min-width: @mobile-width) {
      padding: 0 20px 0 20px;
    }
    @media (min-width: @tablet-width) {
      display: grid;
      grid-template-columns: 370px 356px;
      column-gap: 5px;
    }
    @media (min-width: @desktop-width) {
      display: flex;
    }
  }
  &__item{
    list-style-type: none;
    @media (min-width: @tablet-width) {
      display: flex;
      align-items: center;
    }
    @media (min-width: @desktop-width) {
      display: block;
      text-align: center;
      padding: 0;
    }
  }

  &__text-container{
    @media (min-width: @tablet-width) {
      display: flex;
      flex-wrap: wrap;
      padding-left: 20px;
    }
    @media (min-width: @desktop-width) {
      display: block;
      text-align: center;
      padding: 0;
    }
  }
}
