.footer{
  @media (min-width: @mobile-width) {
    margin-top: 30px;
    margin-bottom: 20px;
  }

  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 320px 300px 300px 300px;
  }

  &__links-title{
    margin: 0;
    @media (min-width: @tablet-width) {
      margin-top: 30px;
    }
    @media (min-width: @desktop-width) {
      margin: 0;
    }
  }

  &__contacts-title{
    @media (min-width: @desktop-width) {
      margin-top: 0;
    }
  }

  &__links{
    @media (min-width: @mobile-width) {
    padding-left: 10px;
    }
    @media (min-width: @tablet-width) {
      display: grid;
      grid-template-columns: 256px 256px 220px;
      padding-left: 0;
    }
    @media (min-width: @desktop-width) {
      grid-template-columns: 256px 256px 290px;
    }
  }
  &__logos-container {
    @media (min-width: @mobile-width) {
    display: flex;
    justify-content: space-between;
  }
  @media (min-width: @desktop-width) {
    display: flex;
    flex-direction: column;
    padding-bottom: 80px;
  }
}

&__logo{
  @media (min-width: @mobile-width) {
  padding-right: 10px;
  margin-left: 10px;
  }
  @media (min-width: @tablet-width) {
    padding-right: 10px;
  }
  @media (min-width: @desktop-width) {
    margin: 0;
  }
}

&__social-logos-container{
  @media (min-width: @desktop-width) {
  display: flex;
  justify-content: space-between;
  margin-right: 150px;
  margin-left: 0;
}
}

&__contacts-container{
  @media (min-width: @mobile-width) {
    display: flex;
    padding-bottom: 20px;
  }
}

&__contacts-text{
  @media (min-width: @mobile-width) {
    margin: 0;
    padding-left: 10px;
  }
}

}
.logo-short-footer {
  @media (min-width: @tablet-width) {
    display: none;
  }
}


.footer-logo-full{
  @media (min-width: @mobile-width) {
    display: none;
  }

  @media (min-width: @tablet-width) {
    display: block;
    margin-right: 450px;
    margin-left: 0;
  }

  @media (min-width: @desktop-width) {
    display: block;
  }
}

.logo-short-footer {
  padding: 0;
  margin-right: 75px;
}
