.header {
  margin: 0;
  width: 100%;

  @media (min-width: @mobile-width) {
    margin-bottom: 20px;
  }

  @media (min-width: @tablet-width) {
    margin: 0;
    display: flex;
    flex-direction: row-reverse;
  }

  &__item{
    @media (min-width: @mobile-width) {
      padding: 0;
      margin: 0;
    }
  }

  &__logos-container {
    @media (min-width: @mobile-width) {
      display: flex;
    }
  }
}

.logo {
  @media (min-width: @mobile-width) {
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 110px;
  }
  @media (min-width: @tablet-width) {
    display: none;
  }

}

.logo-short{
  @media (min-width: @mobile-width) {
    display: none;
  }
  @media (min-width: @tablet-width) {
    display: block;
    margin-top: 20px;
    margin-right: 80px;
  }
}

.toggle{
  @media (min-width: @tablet-width) {
    display: none;
  }
}

.cart {
  @media (min-width: @tablet-width) {
    margin-right: 20px;
  }
}
