.navigation {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 20px;

  @media (min-width: @mobile-width) {
    text-align: center;
    margin: 0;
    padding: 0;
  }

  @media (min-width: @tablet-width) {
    display: flex;
    margin-right: 80px;
  }

  &__item {
    cursor: pointer;
    list-style-type: none;

    @media (min-width: @mobile-width) {
      padding-top: 15px;
    }

    @media (min-width: @tablet-width) {
      position: relative;
      width: 80px;
      padding-top: 25px;
      margin-left: 15px;
    }

    @media (min-width: @desktop-width) {
      margin-right: 80px;
    }
  }
}

.navigation__item:hover{
  @media (min-width: @tablet-width) {
    color: rgba(120, 89, 207, 1);
  }
}

.navigation__item:hover:after,
.navigation__item:focus:after {
  @media (min-width: @tablet-width) {
  content: "";
  width: 100%;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height: 3px;
  background: rgba(120, 89, 207, 1);
}
}
