.products-slider {
  background-color: #F3EBE1;
  text-align: center;

  @media (min-width: @tablet-width) {
    position: relative;
    padding-bottom: 220px;
  }

  &__new{
    @media (min-width: @tablet-width) {
      margin-top: 0;
      padding-top: 50px;
    }
  }

  &__order-container{
    @media (min-width: @mobile-width) {
      align-items: center;
      display: flex;
      justify-content: center;
    }
  }

  &__old-price{
    @media (min-width: @mobile-width) {
      padding-right: 5px;
    }
  }

  &__button{
    @media (min-width: @mobile-width) {
      margin-left: 45px;
    }
  }

  &__preview{
    @media (min-width: @tablet-width) {
    width: 370px;
    height: 370px;
    position: absolute;
    top: 250px;
    right: 208px;
  }
}
}
