.products-slider {
  background-color: #F3EBE1;
  text-align: center;

  &__order-container{
    @media (min-width: @mobile-width) {
      align-items: center;
      display: flex;
      justify-content: center;
    }
  }

  &__old-price{
    @media (min-width: @mobile-width) {
      padding-right: 5px;
    }
  }

  &__button{
    @media (min-width: @mobile-width) {
      margin-left: 45px;
    }
  }
}
